<!-- add-task-modal.component.html -->
<h2 mat-dialog-title>Add a task to your list</h2>

<mat-dialog-content>
  <form #taskForm="ngForm">
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput required [(ngModel)]="taskTitle" name="taskTitle">
    </mat-form-field>
    <mat-checkbox [(ngModel)]="isTaskDone" name="isTaskDone">Completed</mat-checkbox>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary"  type="submit" (click)="onSubmit(taskForm)" [mat-dialog-close]>Save</button>
</mat-dialog-actions>
